
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Layouts/_PMLayout.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource because Project Manager is Still Working on Something</p>
</header>
