@model TimeSheetManagement.ViewModels.CreateTimesheetViewModel

@{
    ViewData["Title"] = "FillTimeSheet";
    Layout = "~/Views/Layouts/_IndLayout.cshtml";
}

        
    <div class="col-md-12">
        <!-- Area Chart -->
        <div class="">
            <div class="card shadow mb-4 border-left-primary shadow h-100 py-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Fill Timesheet</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="col-md-6">
                        <form asp-action="FillTimeSheet">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Task" class="control-label"></label>
                                <input asp-for="Task" class="form-control" />
                                <span asp-validation-for="Task" class="text-danger"></span>
                            </div>
                            @*@{
                                var listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem { Text = "Development", Value = "Development" });
                                listItems.Add(new SelectListItem { Text = "Learning", Value = "Learning" });
                                listItems.Add(new SelectListItem { Text = "Meeting", Value = "Meeting" });
                                listItems.Add(new SelectListItem { Text = "Marketing", Value = "Marketing" });
                                listItems.Add(new SelectListItem { Text = "Documentation", Value = "Documentation" });

                            }*@
                            <div class="form-group">
                                <label asp-for="TaskType" class="control-label"></label>
                                @Html.DropDownListFor(model => model.TaskType, @ViewBag.TaskList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })
                                <span asp-validation-for="TaskType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HoursSpent" class="control-label"></label>
                                <input asp-for="HoursSpent" class="form-control" min="0" />
                                <span asp-validation-for="HoursSpent" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-success float-right" />
                            </div>
                        </form>
                    </div>
                </div>

                @*<div>
                    <a asp-action="Index">Back to List</a>
                </div>*@

            </div>
        </div>
</div>
