@model IEnumerable<TimeSheetManagement.ViewModels.InvitationRequestsViewModel>
@{
    ViewData["Title"] = "IndividualDashboard";
    Layout = "~/Views/Layouts/_IndLayout.cshtml";
}


    <div class="col-md-12">
        <!-- Area Chart -->
        <div class="">
            <div class="card shadow mb-4 border-left-primary shadow h-100 py-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Invitations</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Invitation
                                        </th>
                                        <th>Project Description</th>
                                        <th>Request</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>You are invited to @item.ProjectName Project.</td>
                                            <td>@item.ProjectDescription</td>
                                            <td>@item.Status</td>
                                            <td>
                                                <a asp-action="AcceptInvitation" class="btn btn-outline-primary float-right" asp-route-id="@item.InvitationId">Accept Invitation</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>