
@{
    ViewData["Title"] = "PM-Dashboard";
}

<h1>Project Manger Dashboard</h1>
<hr />

<a class="btn btn-outline-primary" asp-controller="User" asp-action="CreateWorkspace">Create Workspace</a>
<a class="btn btn-outline-primary" asp-controller="User" asp-action="Workspace">List of Workspaces</a>


