@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signup my-5">
            <div class="card-body">
                <h5 class="card-title text-center">@ViewData["Title"]</h5>
                
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label><span style="color:red">*</span>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label><span style="color:red">*</span>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label><span style="color:red">*</span>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    @{
                        List<RegisterModel.InputModel> roles = new List<RegisterModel.InputModel>
                                                        {
                    new RegisterModel.InputModel
                    {
                        Role = "Project Manager"
                    },
                    new RegisterModel.InputModel
                    {
                        Role = "Individual"
                    }
                };
                    }
                    <div class="form-group">
                        <label asp-for="Input.Role" class="control-label"></label><span style="color:red">*</span>
                        @Html.DropDownListFor(model => model.Input.Role, new SelectList(roles, "Role", "Role"), "Select Role", new { @class = "form-control" })
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label><span style="color:red">*</span>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
    </div>
</div>